.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color:lightgoldenrodyellow;
}
.con{
  padding-left:5%;
  }
  .h{
    color:black;
  }
  .e{
    color:black;
  }
  .l{
    color:black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:baby rgb(142, 102, 160);
    border-radius: 8px;
    padding: 32px;
    box-shadow:rgb(245, 245, 177);
    
  }
  
  h2 {
    margin-bottom: 16px;
  }
  
  .input-contain {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 16px; */
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 230px;
    margin-left: 2%;
  }
  
  button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #1222d3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0066aa;
  }
  
  /*=========================================================================Dashboard=====================================================================*/
  .Dash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  /*========================================================================Navbar============================================================================*/
  .Navbar {
    background-color: #3498db;
    height: 60px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  li {
    margin-left: 20px;
  }
  
  Link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  Link:hover {
    text-decoration: underline;
  }
  .Navbar {
    background-color: #869ead;
    height: 60px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  li {
    margin-left: 20px;
  }
  
  Link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  Link:hover {
    text-decoration: underline;
  }
  /*===================================================================EmployeeLIst===========================================================================*/
  /* .EmployeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  } */
  .gender-inputs{
    display: flex;
    flex-wrap: wrap;
  }
  .gender-inputs label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .gender-inputs input[type="radio"] {
    height: 20px;
    grid-gap: 0;
  
  }
  .course-inputs{
    display: flex;
    flex-wrap: wrap;
  }
  .course-inputs label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .course-inputs input[type="checkbox"] {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .course-inputs input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .course-inputs input[type="checkbox"]:checked:before {
    opacity: 1;
  }
  
  .course-inputs input[type="checkbox"]:checked {
    border-color: #333;
    background-color: #333;
  }
  
  .course-inputs input[type="checkbox"]:checked:before {
    background-color: #fff;
  }
  
  
  /*============================================================================================================================================================*/
  .nav{
    background-color: rgb(233, 245, 76);
    height: 50px;
    padding:0 20px;
    color:black;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  li{
    height: 100%;
  }
  a{
    display: block;
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 10px;
    line-height: 50px;
    transform: all 0.3s ease;
  }
  a:hover{
    background-color: #717dd9;
    color: #abd9d7;
  }
  img{
    height: 45px;
    width: 100px;
    margin-right: auto;
  }
  .tab{
    align-items: center;
    margin-left: 13%;
  }
  
  
  